In [33]:
# Import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import plot_roc_curve
from sklearn.metrics import accuracy_score, classification_report

import yfinance as yf

In [34]:
price_data = yf.download('IBM', start="2005-01-01")
df = yf.download('JPM', start="2005-01-01")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [35]:
price_data['Ativo'] = 'IBM'
df['Ativo'] = 'JPM'

In [36]:
price_data = pd.concat([price_data, df], ignore_index=False)

In [37]:
price_data

,Open,High,Low,Close,Adj Close,Volume,Ativo
Date,,,,,,,
2005-01-03,94.617592,94.741875,92.973228,93.451241,53.707932,5538779,IBM
2005-01-04,93.441681,94.091782,92.275337,92.447418,53.131031,5973706,IBM
2005-01-05,92.351814,93.527725,92.160614,92.256210,53.021126,5906448,IBM
2005-01-06,92.294456,92.715103,91.826004,91.969406,52.856304,4771538,IBM
2005-01-07,92.256210,92.543022,91.271507,91.567879,52.625526,6485932,IBM
...,...,...,...,...,...,...,...
2023-09-11,144.750000,145.050003,143.690002,144.460007,144.460007,6854200,JPM
2023-09-12,144.500000,147.320007,144.050003,146.339996,146.339996,8363200,JPM
2023-09-13,147.339996,147.699997,145.820007,146.410004,146.410004,8325900,JPM
2023-09-14,147.839996,149.899994,147.520004,149.250000,149.250000,10034900,JPM
2023-09-15,148.919998,149.729996,148.309998,148.809998,148.809998,19824100,JPM

In [38]:
price_data["datetime"] = price_data.index

In [39]:
# sort the values by symbol and then date
price_data.sort_values(by = ['Ativo','datetime'], inplace = True)

# calculate the change in price
price_data['change_in_price'] = price_data['Close'].diff()

In [40]:
# identify rows where the symbol changes
mask = price_data['Ativo'] != price_data['Ativo'].shift(1)

# For those rows, let's make the value null
price_data['change_in_price'] = np.where(mask == True, np.nan, price_data['change_in_price'])

# print the rows that have a null value, should only be 5
price_data[price_data.isna().any(axis = 1)]

,Open,High,Low,Close,Adj Close,Volume,Ativo,datetime,change_in_price
Date,,,,,,,,,
2005-01-03,94.617592,94.741875,92.973228,93.451241,53.707932,5538779,IBM,2005-01-03,NaN
2005-01-03,39.480000,39.689999,39.009998,39.150002,23.560514,14957900,JPM,2005-01-03,NaN

In [41]:
# define the number of days out you want to predict
days_out = 30

# Group by symbol, then apply the rolling function and grab the Min and Max.
price_data_smoothed = price_data.groupby(['Ativo'])[['Close','Low','High','Open','Volume']].transform(lambda x: x.ewm(span = days_out).mean())

# Join the smoothed columns with the symbol and datetime column from the old data frame.
smoothed_df = pd.concat([price_data[['Ativo','datetime']], price_data_smoothed], axis=1, sort=False)

smoothed_df

,Ativo,datetime,Close,Low,High,Open,Volume
Date,,,,,,,
2005-01-03,IBM,2005-01-03,93.451241,92.973228,94.741875,94.617592,5.538779e+06
2005-01-04,IBM,2005-01-04,92.932599,92.612651,94.405993,94.010038,5.763491e+06
2005-01-05,IBM,2005-01-05,92.691944,92.451819,94.093511,93.420052,5.814354e+06
2005-01-06,IBM,2005-01-06,92.492858,92.279384,93.713709,93.109909,5.527021e+06
2005-01-07,IBM,2005-01-07,92.282403,92.050068,93.447350,92.915672,5.745196e+06
...,...,...,...,...,...,...,...
2023-09-11,JPM,2023-09-11,148.199025,147.244442,149.374833,148.364813,8.089804e+06
2023-09-12,JPM,2023-09-12,148.079088,147.038349,149.242264,148.115470,8.107442e+06
2023-09-13,JPM,2023-09-13,147.971405,146.959747,149.142762,148.065440,8.121536e+06
2023-09-14,JPM,2023-09-14,148.053895,146.995892,149.191616,148.050895,8.244979e+06
2023-09-15,JPM,2023-09-15,148.102676,147.080673,149.226350,148.106966,8.992019e+06

In [42]:
# define the number of days out you want to predict
days_out = 30

# create a new column that will house the flag, and for each group calculate the diff compared to 30 days ago. Then use Numpy to define the sign.
smoothed_df['Signal_Flag'] = smoothed_df.groupby('Ativo')['Close'].transform(lambda x : np.sign(x.diff(days_out)))

# print the first 50 rows
smoothed_df.head(50)

,Ativo,datetime,Close,Low,High,Open,Volume,Signal_Flag
Date,,,,,,,,
2005-01-03,IBM,2005-01-03,93.451241,92.973228,94.741875,94.617592,5.538779e+06,NaN
2005-01-04,IBM,2005-01-04,92.932599,92.612651,94.405993,94.010038,5.763491e+06,NaN
2005-01-05,IBM,2005-01-05,92.691944,92.451819,94.093511,93.420052,5.814354e+06,NaN
2005-01-06,IBM,2005-01-06,92.492858,92.279384,93.713709,93.109909,5.527021e+06,NaN
2005-01-07,IBM,2005-01-07,92.282403,92.050068,93.447350,92.915672,5.745196e+06,NaN
2005-01-10,IBM,2005-01-10,92.123914,91.854739,93.137640,92.651997,5.567689e+06,NaN
2005-01-11,IBM,2005-01-11,91.898771,91.628199,92.867793,92.447957,5.463404e+06,NaN
2005-01-12,IBM,2005-01-12,91.762110,91.362207,92.590372,92.194277,5.562223e+06,NaN
2005-01-13,IBM,2005-01-13,91.552578,91.107343,92.501603,92.051432,5.565481e+06,NaN
2005-01-14,IBM,2005-01-14,91.341706,90.885789,92.183942,91.763029,5.593222e+06,NaN
2005-01-18,IBM,2005-01-18,91.265362,90.714153,92.055273,91.486077,6.001488e+06,NaN
2005-01-19,IBM,2005-01-19,91.000690,90.495008,91.927637,91.402715,6.199373e+06,NaN
2005-01-20,IBM,2005-01-20,90.768061,90.276097,91.681223,91.083861,6.173982e+06,NaN
2005-01-21,IBM,2005-01-21,90.507543,90.052632,91.417131,90.852783,6.296311e+06,NaN
2005-01-24,IBM,2005-01-24,90.226502,89.815084,91.146681,90.625287,6.351587e+06,NaN
2005-01-25,IBM,2005-01-25,90.020877,89.627355,90.888166,90.360695,6.248552e+06,NaN
2005-01-26,IBM,2005-01-26,89.819714,89.462720,90.688169,90.159037,6.186682e+06,NaN
2005-01-27,IBM,2005-01-27,89.645744,89.274049,90.455214,89.911387,6.073938e+06,NaN
2005-01-28,IBM,2005-01-28,89.570234,89.196718,90.367108,89.793989,6.088384e+06,NaN
2005-01-31,IBM,2005-01-31,89.547584,89.175802,90.319041,89.771001,5.991195e+06,NaN
2005-02-01,IBM,2005-02-01,89.563401,89.183342,90.280266,89.752136,5.803993e+06,NaN
2005-02-02,IBM,2005-02-02,89.612835,89.210935,90.273600,89.744061,5.632847e+06,NaN
2005-02-03,IBM,2005-02-03,89.597497,89.190911,90.235365,89.743881,5.507532e+06,NaN
2005-02-04,IBM,2005-02-04,89.658620,89.168217,90.262704,89.677266,5.384292e+06,NaN
2005-02-07,IBM,2005-02-07,89.715421,89.248812,90.299595,89.718899,5.192157e+06,NaN
2005-02-08,IBM,2005-02-08,89.736969,89.306920,90.313574,89.746168,5.075557e+06,NaN
2005-02-09,IBM,2005-02-09,89.650904,89.242268,90.340320,89.765784,5.140611e+06,NaN
2005-02-10,IBM,2005-02-10,89.576869,89.165858,90.238481,89.696844,5.134533e+06,NaN
2005-02-11,IBM,2005-02-11,89.548215,89.110520,90.208237,89.615881,5.080934e+06,NaN
2005-02-14,IBM,2005-02-14,89.541266,89.106982,90.184143,89.574640,4.925742e+06,NaN
2005-02-15,IBM,2005-02-15,89.588564,89.126337,90.207966,89.560865,4.882391e+06,-1.0
2005-02-16,IBM,2005-02-16,89.652252,89.194465,90.250814,89.599296,4.866993e+06,-1.0
2005-02-17,IBM,2005-02-17,89.650431,89.225162,90.275620,89.653335,4.836733e+06,-1.0
2005-02-18,IBM,2005-02-18,89.615729,89.195609,90.263352,89.651451,4.809728e+06,-1.0
2005-02-22,IBM,2005-02-22,89.518882,89.122628,90.200829,89.575955,4.826682e+06,-1.0
2005-02-23,IBM,2005-02-23,89.414649,89.009204,90.071276,89.480561,4.901514e+06,-1.0
2005-02-24,IBM,2005-02-24,89.354823,88.924718,89.995489,89.371608,4.862282e+06,-1.0
2005-02-25,IBM,2005-02-25,89.310262,88.876131,89.906035,89.295726,4.820506e+06,-1.0
2005-02-28,IBM,2005-02-28,89.254397,88.839193,89.820644,89.237542,4.845383e+06,-1.0
2005-03-01,IBM,2005-03-01,89.250414,88.816937,89.786019,89.190983,4.786470e+06,-1.0
2005-03-02,IBM,2005-03-02,89.221658,88.806877,89.773739,89.155114,4.778634e+06,-1.0
2005-03-03,IBM,2005-03-03,89.161516,88.761435,89.728209,89.148137,4.740505e+06,-1.0
2005-03-04,IBM,2005-03-04,89.103121,88.729753,89.684021,89.127933,4.756387e+06,-1.0
2005-03-07,IBM,2005-03-07,88.998773,88.650194,89.599370,89.070751,4.934546e+06,-1.0
2005-03-08,IBM,2005-03-08,88.936286,88.583463,89.524017,88.975467,4.960841e+06,-1.0
2005-03-09,IBM,2005-03-09,88.892469,88.541525,89.482479,88.907652,4.944457e+06,-1.0
2005-03-10,IBM,2005-03-10,88.855614,88.507707,89.430976,88.865903,4.852418e+06,-1.0
2005-03-11,IBM,2005-03-11,88.763478,88.419038,89.358012,88.820656,4.842237e+06,-1.0
2005-03-14,IBM,2005-03-14,88.702781,88.355794,89.266417,88.730475,4.793564e+06,-1.0
2005-03-15,IBM,2005-03-15,88.613041,88.277756,89.195892,88.678536,4.729209e+06,-1.0

In [43]:
# price_data["datetime"] = price_data["datetime"].dt.strftime('%Y-%m-%d')

In [44]:
# price_data = price_data.set_index('datetime', inplace=True)

In [45]:
# Calculate the 14 day RSI
n = 14

# First make a copy of the data frame twice
up_df, down_df = price_data[['Ativo','change_in_price']].copy(), price_data[['Ativo','change_in_price']].copy()

# For up days, if the change is less than 0 set to 0.
up_df.loc['change_in_price'] = up_df.loc[(up_df['change_in_price'] < 0), 'change_in_price'] = 0

# For down days, if the change is greater than 0 set to 0.
down_df.loc['change_in_price'] = down_df.loc[(down_df['change_in_price'] > 0), 'change_in_price'] = 0

# We need change in price to be absolute.
down_df['change_in_price'] = down_df['change_in_price'].abs()

# Calculate the EWMA (Exponential Weighted Moving Average), meaning older values are given less weight compared to newer values.
ewma_up = up_df.groupby('Ativo')['change_in_price'].transform(lambda x: x.ewm(span = n).mean())
ewma_down = down_df.groupby('Ativo')['change_in_price'].transform(lambda x: x.ewm(span = n).mean())

# Calculate the Relative Strength
relative_strength = ewma_up / ewma_down

# Calculate the Relative Strength Index
relative_strength_index = 100.0 - (100.0 / (1.0 + relative_strength))

In [46]:
relative_strength_index = pd.DataFrame(relative_strength_index)

In [47]:
down_df = down_df.drop(down_df.index[-1])
up_df = up_df.drop(up_df.index[-1])
relative_strength_index = relative_strength_index.drop(relative_strength_index.index[-1])

In [48]:
down_df.reset_index(drop=True, inplace=True)
up_df.reset_index(drop=True, inplace=True)
relative_strength_index.reset_index(drop=True, inplace=True)

# combined_df = price_data.copy()
# price_data = combined_df

# Add the info to the data frame.
price_data['down_days'] = down_df['change_in_price'].values
price_data['up_days'] = up_df['change_in_price'].values
price_data['RSI'] = relative_strength_index["change_in_price"].values

# Display the head.
price_data.head(30)

,Open,High,Low,Close,Adj Close,Volume,Ativo,datetime,change_in_price,down_days,up_days,RSI
Date,,,,,,,,,,,,
2005-01-03,94.617592,94.741875,92.973228,93.451241,53.707932,5538779,IBM,2005-01-03,NaN,NaN,NaN,NaN
2005-01-04,93.441681,94.091782,92.275337,92.447418,53.131031,5973706,IBM,2005-01-04,-1.003822,1.003822,0.000000,0.000000
2005-01-05,92.351814,93.527725,92.160614,92.256210,53.021126,5906448,IBM,2005-01-05,-0.191208,0.191208,0.000000,0.000000
2005-01-06,92.294456,92.715103,91.826004,91.969406,52.856304,4771538,IBM,2005-01-06,-0.286804,0.286804,0.000000,0.000000
2005-01-07,92.256210,92.543022,91.271507,91.567879,52.625526,6485932,IBM,2005-01-07,-0.401527,0.401527,0.000000,0.000000
2005-01-10,91.567879,91.864243,91.051628,91.472275,52.570591,4837855,IBM,2005-01-10,-0.095604,0.095604,0.000000,0.000000
2005-01-11,91.472275,91.577438,90.544930,90.822182,52.196987,4964734,IBM,2005-01-11,-0.650093,0.650093,0.000000,0.000000
2005-01-12,90.822182,91.089867,89.923515,91.022942,52.312355,6096716,IBM,2005-01-12,0.200760,0.000000,0.200760,11.291135
2005-01-13,91.195030,91.969406,89.579353,90.296364,51.894787,5585012,IBM,2005-01-13,-0.726578,0.726578,0.000000,7.673164
2005-01-14,89.875717,90.105164,89.435944,89.961761,51.702469,5774757,IBM,2005-01-14,-0.334602,0.334602,0.000000,6.556781
2005-01-18,89.531548,91.147224,89.502869,90.726578,52.142033,8882737,IBM,2005-01-18,0.764816,0.000000,0.764816,32.469568
2005-01-19,90.774376,90.965584,88.843208,89.005737,51.153027,7690924,IBM,2005-01-19,-1.720840,1.720840,0.000000,18.878289
2005-01-20,88.537285,89.713196,88.527725,88.910133,51.098087,5971196,IBM,2005-01-20,-0.095604,0.095604,0.000000,18.384967
2005-01-21,88.910133,89.196938,88.173996,88.317398,50.757431,7324720,IBM,2005-01-21,-0.592735,0.592735,0.000000,15.489395
2005-01-24,88.623329,88.766731,87.724663,87.753349,50.433262,6838016,IBM,2005-01-24,-0.564049,0.564049,0.000000,13.205705
2005-01-25,87.934990,88.518166,87.906311,88.135757,50.653042,5303952,IBM,2005-01-25,0.382408,0.000000,0.382408,22.180961
2005-01-26,88.240921,88.785851,87.896751,87.906311,50.521179,5598192,IBM,2005-01-26,-0.229446,0.229446,0.000000,20.699094
2005-01-27,87.476097,88.164436,87.418739,87.934990,50.537670,4965257,IBM,2005-01-27,0.028679,0.000000,0.028679,21.455878
2005-01-28,88.604210,89.474190,88.413002,88.804970,51.037647,6234788,IBM,2005-01-28,0.869980,0.000000,0.869980,41.122756
2005-01-31,89.531548,89.818359,88.957932,89.311661,51.328842,4978855,IBM,2005-01-31,0.506691,0.000000,0.506691,49.603000
2005-02-01,89.550667,89.866158,89.263863,89.732315,51.570618,3804720,IBM,2005-02-01,0.420654,0.000000,0.420654,55.713321
2005-02-02,89.655830,90.200768,89.512428,90.152962,51.812363,3762880,IBM,2005-02-02,0.420647,0.000000,0.420647,61.148426
2005-02-03,89.741875,89.808792,88.967499,89.426384,51.394802,4109420,IBM,2005-02-03,-0.726578,0.726578,0.000000,49.131188
2005-02-04,88.919693,90.573616,88.910133,90.353729,51.927761,3982750,IBM,2005-02-04,0.927345,0.000000,0.927345,60.549036
2005-02-07,90.200768,90.726578,90.181641,90.372849,51.938732,2968339,IBM,2005-02-07,0.019119,0.000000,0.019119,60.758571
2005-02-08,90.066925,90.478012,89.990440,89.990440,51.817612,3703991,IBM,2005-02-08,-0.382408,0.382408,0.000000,54.124294
2005-02-09,90.000000,90.659653,88.470360,88.623329,51.030418,5917327,IBM,2005-02-09,-1.367111,1.367111,0.000000,37.316477
2005-02-10,88.862335,89.005737,88.240921,88.680687,51.063454,5060966,IBM,2005-02-10,0.057358,0.000000,0.057358,38.244863
2005-02-11,88.623329,89.837479,88.432121,89.196938,51.360714,4423848,IBM,2005-02-11,0.516251,0.000000,0.516251,46.477315
2005-02-14,89.063095,89.885277,89.063095,89.455070,51.509357,3000765,IBM,2005-02-14,0.258133,0.000000,0.258133,50.299793

In [49]:
# Calculate the Stochastic Oscillator
n = 14

# Make a copy of the high and low column.
low_14, high_14 = price_data[['Ativo','Low']].copy(), price_data[['Ativo','High']].copy()

# Group by symbol, then apply the rolling function and grab the Min and Max.
low_14 = low_14.groupby('Ativo')['Low'].transform(lambda x: x.rolling(window = n).min())
high_14 = high_14.groupby('Ativo')['High'].transform(lambda x: x.rolling(window = n).max())

# Calculate the Stochastic Oscillator.
k_percent = 100 * ((price_data['Close'] - low_14) / (high_14 - low_14))

# Add the info to the data frame.
price_data['low_14'] = low_14
price_data['high_14'] = high_14
price_data['k_percent'] = k_percent

# Display the head.
price_data.head(30)

,Open,High,Low,Close,Adj Close,Volume,Ativo,datetime,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent
Date,,,,,,,,,,,,,,,
2005-01-03,94.617592,94.741875,92.973228,93.451241,53.707932,5538779,IBM,2005-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-04,93.441681,94.091782,92.275337,92.447418,53.131031,5973706,IBM,2005-01-04,-1.003822,1.003822,0.000000,0.000000,NaN,NaN,NaN
2005-01-05,92.351814,93.527725,92.160614,92.256210,53.021126,5906448,IBM,2005-01-05,-0.191208,0.191208,0.000000,0.000000,NaN,NaN,NaN
2005-01-06,92.294456,92.715103,91.826004,91.969406,52.856304,4771538,IBM,2005-01-06,-0.286804,0.286804,0.000000,0.000000,NaN,NaN,NaN
2005-01-07,92.256210,92.543022,91.271507,91.567879,52.625526,6485932,IBM,2005-01-07,-0.401527,0.401527,0.000000,0.000000,NaN,NaN,NaN
2005-01-10,91.567879,91.864243,91.051628,91.472275,52.570591,4837855,IBM,2005-01-10,-0.095604,0.095604,0.000000,0.000000,NaN,NaN,NaN
2005-01-11,91.472275,91.577438,90.544930,90.822182,52.196987,4964734,IBM,2005-01-11,-0.650093,0.650093,0.000000,0.000000,NaN,NaN,NaN
2005-01-12,90.822182,91.089867,89.923515,91.022942,52.312355,6096716,IBM,2005-01-12,0.200760,0.000000,0.200760,11.291135,NaN,NaN,NaN
2005-01-13,91.195030,91.969406,89.579353,90.296364,51.894787,5585012,IBM,2005-01-13,-0.726578,0.726578,0.000000,7.673164,NaN,NaN,NaN
2005-01-14,89.875717,90.105164,89.435944,89.961761,51.702469,5774757,IBM,2005-01-14,-0.334602,0.334602,0.000000,6.556781,NaN,NaN,NaN
2005-01-18,89.531548,91.147224,89.502869,90.726578,52.142033,8882737,IBM,2005-01-18,0.764816,0.000000,0.764816,32.469568,NaN,NaN,NaN
2005-01-19,90.774376,90.965584,88.843208,89.005737,51.153027,7690924,IBM,2005-01-19,-1.720840,1.720840,0.000000,18.878289,NaN,NaN,NaN
2005-01-20,88.537285,89.713196,88.527725,88.910133,51.098087,5971196,IBM,2005-01-20,-0.095604,0.095604,0.000000,18.384967,NaN,NaN,NaN
2005-01-21,88.910133,89.196938,88.173996,88.317398,50.757431,7324720,IBM,2005-01-21,-0.592735,0.592735,0.000000,15.489395,88.173996,94.741875,2.183385
2005-01-24,88.623329,88.766731,87.724663,87.753349,50.433262,6838016,IBM,2005-01-24,-0.564049,0.564049,0.000000,13.205705,87.724663,94.091782,0.450542
2005-01-25,87.934990,88.518166,87.906311,88.135757,50.653042,5303952,IBM,2005-01-25,0.382408,0.000000,0.382408,22.180961,87.724663,93.527725,7.084099
2005-01-26,88.240921,88.785851,87.896751,87.906311,50.521179,5598192,IBM,2005-01-26,-0.229446,0.229446,0.000000,20.699094,87.724663,92.715103,3.639924
2005-01-27,87.476097,88.164436,87.418739,87.934990,50.537670,4965257,IBM,2005-01-27,0.028679,0.000000,0.028679,21.455878,87.418739,92.543022,10.074592
2005-01-28,88.604210,89.474190,88.413002,88.804970,51.037647,6234788,IBM,2005-01-28,0.869980,0.000000,0.869980,41.122756,87.418739,91.969406,30.462139
2005-01-31,89.531548,89.818359,88.957932,89.311661,51.328842,4978855,IBM,2005-01-31,0.506691,0.000000,0.506691,49.603000,87.418739,91.969406,41.596573
2005-02-01,89.550667,89.866158,89.263863,89.732315,51.570618,3804720,IBM,2005-02-01,0.420654,0.000000,0.420654,55.713321,87.418739,91.969406,50.840368
2005-02-02,89.655830,90.200768,89.512428,90.152962,51.812363,3762880,IBM,2005-02-02,0.420647,0.000000,0.420647,61.148426,87.418739,91.969406,60.083995
2005-02-03,89.741875,89.808792,88.967499,89.426384,51.394802,4109420,IBM,2005-02-03,-0.726578,0.726578,0.000000,49.131188,87.418739,91.147224,53.846122
2005-02-04,88.919693,90.573616,88.910133,90.353729,51.927761,3982750,IBM,2005-02-04,0.927345,0.000000,0.927345,60.549036,87.418739,91.147224,78.718027
2005-02-07,90.200768,90.726578,90.181641,90.372849,51.938732,2968339,IBM,2005-02-07,0.019119,0.000000,0.019119,60.758571,87.418739,90.965584,83.288377
2005-02-08,90.066925,90.478012,89.990440,89.990440,51.817612,3703991,IBM,2005-02-08,-0.382408,0.382408,0.000000,54.124294,87.418739,90.726578,77.745667
2005-02-09,90.000000,90.659653,88.470360,88.623329,51.030418,5917327,IBM,2005-02-09,-1.367111,1.367111,0.000000,37.316477,87.418739,90.726578,36.416224
2005-02-10,88.862335,89.005737,88.240921,88.680687,51.063454,5060966,IBM,2005-02-10,0.057358,0.000000,0.057358,38.244863,87.418739,90.726578,38.150220
2005-02-11,88.623329,89.837479,88.432121,89.196938,51.360714,4423848,IBM,2005-02-11,0.516251,0.000000,0.516251,46.477315,87.418739,90.726578,53.757107
2005-02-14,89.063095,89.885277,89.063095,89.455070,51.509357,3000765,IBM,2005-02-14,0.258133,0.000000,0.258133,50.299793,87.418739,90.726578,61.560781

In [50]:
# Calculate the Williams %R
n = 14

# Make a copy of the high and low column.
low_14, high_14 = price_data[['Ativo','Low']].copy(), price_data[['Ativo','High']].copy()

# Group by symbol, then apply the rolling function and grab the Min and Max.
low_14 = low_14.groupby('Ativo')['Low'].transform(lambda x: x.rolling(window = n).min())
high_14 = high_14.groupby('Ativo')['High'].transform(lambda x: x.rolling(window = n).max())

# Calculate William %R indicator.
r_percent = ((high_14 - price_data['Close']) / (high_14 - low_14)) * - 100

# Add the info to the data frame.
price_data['r_percent'] = r_percent

# Display the head.
price_data.head(30)

,Open,High,Low,Close,Adj Close,Volume,Ativo,datetime,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,r_percent
Date,,,,,,,,,,,,,,,,
2005-01-03,94.617592,94.741875,92.973228,93.451241,53.707932,5538779,IBM,2005-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-04,93.441681,94.091782,92.275337,92.447418,53.131031,5973706,IBM,2005-01-04,-1.003822,1.003822,0.000000,0.000000,NaN,NaN,NaN,NaN
2005-01-05,92.351814,93.527725,92.160614,92.256210,53.021126,5906448,IBM,2005-01-05,-0.191208,0.191208,0.000000,0.000000,NaN,NaN,NaN,NaN
2005-01-06,92.294456,92.715103,91.826004,91.969406,52.856304,4771538,IBM,2005-01-06,-0.286804,0.286804,0.000000,0.000000,NaN,NaN,NaN,NaN
2005-01-07,92.256210,92.543022,91.271507,91.567879,52.625526,6485932,IBM,2005-01-07,-0.401527,0.401527,0.000000,0.000000,NaN,NaN,NaN,NaN
2005-01-10,91.567879,91.864243,91.051628,91.472275,52.570591,4837855,IBM,2005-01-10,-0.095604,0.095604,0.000000,0.000000,NaN,NaN,NaN,NaN
2005-01-11,91.472275,91.577438,90.544930,90.822182,52.196987,4964734,IBM,2005-01-11,-0.650093,0.650093,0.000000,0.000000,NaN,NaN,NaN,NaN
2005-01-12,90.822182,91.089867,89.923515,91.022942,52.312355,6096716,IBM,2005-01-12,0.200760,0.000000,0.200760,11.291135,NaN,NaN,NaN,NaN
2005-01-13,91.195030,91.969406,89.579353,90.296364,51.894787,5585012,IBM,2005-01-13,-0.726578,0.726578,0.000000,7.673164,NaN,NaN,NaN,NaN
2005-01-14,89.875717,90.105164,89.435944,89.961761,51.702469,5774757,IBM,2005-01-14,-0.334602,0.334602,0.000000,6.556781,NaN,NaN,NaN,NaN
2005-01-18,89.531548,91.147224,89.502869,90.726578,52.142033,8882737,IBM,2005-01-18,0.764816,0.000000,0.764816,32.469568,NaN,NaN,NaN,NaN
2005-01-19,90.774376,90.965584,88.843208,89.005737,51.153027,7690924,IBM,2005-01-19,-1.720840,1.720840,0.000000,18.878289,NaN,NaN,NaN,NaN
2005-01-20,88.537285,89.713196,88.527725,88.910133,51.098087,5971196,IBM,2005-01-20,-0.095604,0.095604,0.000000,18.384967,NaN,NaN,NaN,NaN
2005-01-21,88.910133,89.196938,88.173996,88.317398,50.757431,7324720,IBM,2005-01-21,-0.592735,0.592735,0.000000,15.489395,88.173996,94.741875,2.183385,-97.816615
2005-01-24,88.623329,88.766731,87.724663,87.753349,50.433262,6838016,IBM,2005-01-24,-0.564049,0.564049,0.000000,13.205705,87.724663,94.091782,0.450542,-99.549458
2005-01-25,87.934990,88.518166,87.906311,88.135757,50.653042,5303952,IBM,2005-01-25,0.382408,0.000000,0.382408,22.180961,87.724663,93.527725,7.084099,-92.915901
2005-01-26,88.240921,88.785851,87.896751,87.906311,50.521179,5598192,IBM,2005-01-26,-0.229446,0.229446,0.000000,20.699094,87.724663,92.715103,3.639924,-96.360076
2005-01-27,87.476097,88.164436,87.418739,87.934990,50.537670,4965257,IBM,2005-01-27,0.028679,0.000000,0.028679,21.455878,87.418739,92.543022,10.074592,-89.925408
2005-01-28,88.604210,89.474190,88.413002,88.804970,51.037647,6234788,IBM,2005-01-28,0.869980,0.000000,0.869980,41.122756,87.418739,91.969406,30.462139,-69.537861
2005-01-31,89.531548,89.818359,88.957932,89.311661,51.328842,4978855,IBM,2005-01-31,0.506691,0.000000,0.506691,49.603000,87.418739,91.969406,41.596573,-58.403427
2005-02-01,89.550667,89.866158,89.263863,89.732315,51.570618,3804720,IBM,2005-02-01,0.420654,0.000000,0.420654,55.713321,87.418739,91.969406,50.840368,-49.159632
2005-02-02,89.655830,90.200768,89.512428,90.152962,51.812363,3762880,IBM,2005-02-02,0.420647,0.000000,0.420647,61.148426,87.418739,91.969406,60.083995,-39.916005
2005-02-03,89.741875,89.808792,88.967499,89.426384,51.394802,4109420,IBM,2005-02-03,-0.726578,0.726578,0.000000,49.131188,87.418739,91.147224,53.846122,-46.153878
2005-02-04,88.919693,90.573616,88.910133,90.353729,51.927761,3982750,IBM,2005-02-04,0.927345,0.000000,0.927345,60.549036,87.418739,91.147224,78.718027,-21.281973
2005-02-07,90.200768,90.726578,90.181641,90.372849,51.938732,2968339,IBM,2005-02-07,0.019119,0.000000,0.019119,60.758571,87.418739,90.965584,83.288377,-16.711623
2005-02-08,90.066925,90.478012,89.990440,89.990440,51.817612,3703991,IBM,2005-02-08,-0.382408,0.382408,0.000000,54.124294,87.418739,90.726578,77.745667,-22.254333
2005-02-09,90.000000,90.659653,88.470360,88.623329,51.030418,5917327,IBM,2005-02-09,-1.367111,1.367111,0.000000,37.316477,87.418739,90.726578,36.416224,-63.583776
2005-02-10,88.862335,89.005737,88.240921,88.680687,51.063454,5060966,IBM,2005-02-10,0.057358,0.000000,0.057358,38.244863,87.418739,90.726578,38.150220,-61.849780
2005-02-11,88.623329,89.837479,88.432121,89.196938,51.360714,4423848,IBM,2005-02-11,0.516251,0.000000,0.516251,46.477315,87.418739,90.726578,53.757107,-46.242893
2005-02-14,89.063095,89.885277,89.063095,89.455070,51.509357,3000765,IBM,2005-02-14,0.258133,0.000000,0.258133,50.299793,87.418739,90.726578,61.560781,-38.439219

In [51]:
# Calculate the MACD
ema_26 = price_data.groupby('Ativo')['Close'].transform(lambda x: x.ewm(span = 26).mean())
ema_12 = price_data.groupby('Ativo')['Close'].transform(lambda x: x.ewm(span = 12).mean())
macd = ema_12 - ema_26

# Calculate the EMA
ema_9_macd = macd.ewm(span = 9).mean()

# Store the data in the data frame.
price_data['MACD'] = macd
price_data['MACD_EMA'] = ema_9_macd

# Print the head.
price_data.head(30)

,Open,High,Low,Close,Adj Close,Volume,Ativo,datetime,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,r_percent,MACD,MACD_EMA
Date,,,,,,,,,,,,,,,,,,
2005-01-03,94.617592,94.741875,92.973228,93.451241,53.707932,5538779,IBM,2005-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
2005-01-04,93.441681,94.091782,92.275337,92.447418,53.131031,5973706,IBM,2005-01-04,-1.003822,1.003822,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.022522,-0.012512
2005-01-05,92.351814,93.527725,92.160614,92.256210,53.021126,5906448,IBM,2005-01-05,-0.191208,0.191208,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.034626,-0.021575
2005-01-06,92.294456,92.715103,91.826004,91.969406,52.856304,4771538,IBM,2005-01-06,-0.286804,0.286804,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.049638,-0.031082
2005-01-07,92.256210,92.543022,91.271507,91.567879,52.625526,6485932,IBM,2005-01-07,-0.401527,0.401527,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.072728,-0.043471
2005-01-10,91.567879,91.864243,91.051628,91.472275,52.570591,4837855,IBM,2005-01-10,-0.095604,0.095604,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.089329,-0.055901
2005-01-11,91.472275,91.577438,90.544930,90.822182,52.196987,4964734,IBM,2005-01-11,-0.650093,0.650093,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.127887,-0.074119
2005-01-12,90.822182,91.089867,89.923515,91.022942,52.312355,6096716,IBM,2005-01-12,0.200760,0.000000,0.200760,11.291135,NaN,NaN,NaN,NaN,-0.142138,-0.090465
2005-01-13,91.195030,91.969406,89.579353,90.296364,51.894787,5585012,IBM,2005-01-13,-0.726578,0.726578,0.000000,7.673164,NaN,NaN,NaN,NaN,-0.185891,-0.112509
2005-01-14,89.875717,90.105164,89.435944,89.961761,51.702469,5774757,IBM,2005-01-14,-0.334602,0.334602,0.000000,6.556781,NaN,NaN,NaN,NaN,-0.231459,-0.139161
2005-01-18,89.531548,91.147224,89.502869,90.726578,52.142033,8882737,IBM,2005-01-18,0.764816,0.000000,0.764816,32.469568,NaN,NaN,NaN,NaN,-0.220395,-0.156934
2005-01-19,90.774376,90.965584,88.843208,89.005737,51.153027,7690924,IBM,2005-01-19,-1.720840,1.720840,0.000000,18.878289,NaN,NaN,NaN,NaN,-0.303813,-0.188478
2005-01-20,88.537285,89.713196,88.527725,88.910133,51.098087,5971196,IBM,2005-01-20,-0.095604,0.095604,0.000000,18.384967,NaN,NaN,NaN,NaN,-0.367048,-0.226269
2005-01-21,88.910133,89.196938,88.173996,88.317398,50.757431,7324720,IBM,2005-01-21,-0.592735,0.592735,0.000000,15.489395,88.173996,94.741875,2.183385,-97.816615,-0.443966,-0.271811
2005-01-24,88.623329,88.766731,87.724663,87.753349,50.433262,6838016,IBM,2005-01-24,-0.564049,0.564049,0.000000,13.205705,87.724663,94.091782,0.450542,-99.549458,-0.529780,-0.325287
2005-01-25,87.934990,88.518166,87.906311,88.135757,50.653042,5303952,IBM,2005-01-25,0.382408,0.000000,0.382408,22.180961,87.724663,93.527725,7.084099,-92.915901,-0.565044,-0.374627
2005-01-26,88.240921,88.785851,87.896751,87.906311,50.521179,5598192,IBM,2005-01-26,-0.229446,0.229446,0.000000,20.699094,87.724663,92.715103,3.639924,-96.360076,-0.599125,-0.420561
2005-01-27,87.476097,88.164436,87.418739,87.934990,50.537670,4965257,IBM,2005-01-27,0.028679,0.000000,0.028679,21.455878,87.418739,92.543022,10.074592,-89.925408,-0.616062,-0.460378
2005-01-28,88.604210,89.474190,88.413002,88.804970,51.037647,6234788,IBM,2005-01-28,0.869980,0.000000,0.869980,41.122756,87.418739,91.969406,30.462139,-69.537861,-0.565776,-0.481766
2005-01-31,89.531548,89.818359,88.957932,89.311661,51.328842,4978855,IBM,2005-01-31,0.506691,0.000000,0.506691,49.603000,87.418739,91.969406,41.596573,-58.403427,-0.487164,-0.482858
2005-02-01,89.550667,89.866158,89.263863,89.732315,51.570618,3804720,IBM,2005-02-01,0.420654,0.000000,0.420654,55.713321,87.418739,91.969406,50.840368,-49.159632,-0.392756,-0.464670
2005-02-02,89.655830,90.200768,89.512428,90.152962,51.812363,3762880,IBM,2005-02-02,0.420647,0.000000,0.420647,61.148426,87.418739,91.969406,60.083995,-39.916005,-0.286770,-0.428825
2005-02-03,89.741875,89.808792,88.967499,89.426384,51.394802,4109420,IBM,2005-02-03,-0.726578,0.726578,0.000000,49.131188,87.418739,91.147224,53.846122,-46.153878,-0.250535,-0.392956
2005-02-04,88.919693,90.573616,88.910133,90.353729,51.927761,3982750,IBM,2005-02-04,0.927345,0.000000,0.927345,60.549036,87.418739,91.147224,78.718027,-21.281973,-0.155682,-0.345276
2005-02-07,90.200768,90.726578,90.181641,90.372849,51.938732,2968339,IBM,2005-02-07,0.019119,0.000000,0.019119,60.758571,87.418739,90.965584,83.288377,-16.711623,-0.078762,-0.291771
2005-02-08,90.066925,90.478012,89.990440,89.990440,51.817612,3703991,IBM,2005-02-08,-0.382408,0.382408,0.000000,54.124294,87.418739,90.726578,77.745667,-22.254333,-0.044813,-0.242230
2005-02-09,90.000000,90.659653,88.470360,88.623329,51.030418,5917327,IBM,2005-02-09,-1.367111,1.367111,0.000000,37.316477,87.418739,90.726578,36.416224,-63.583776,-0.114741,-0.216670
2005-02-10,88.862335,89.005737,88.240921,88.680687,51.063454,5060966,IBM,2005-02-10,0.057358,0.000000,0.057358,38.244863,87.418739,90.726578,38.150220,-61.849780,-0.163827,-0.206081
2005-02-11,88.623329,89.837479,88.432121,89.196938,51.360714,4423848,IBM,2005-02-11,0.516251,0.000000,0.516251,46.477315,87.418739,90.726578,53.757107,-46.242893,-0.163006,-0.197453
2005-02-14,89.063095,89.885277,89.063095,89.455070,51.509357,3000765,IBM,2005-02-14,0.258133,0.000000,0.258133,50.299793,87.418739,90.726578,61.560781,-38.439219,-0.141725,-0.186293

In [52]:
# Calculate the Price Rate of Change
n = 9

# Calculate the Rate of Change in the Price, and store it in the Data Frame.
price_data['Price_Rate_Of_Change'] = price_data.groupby('Ativo')['Close'].transform(lambda x: x.pct_change(periods = n))

# Print the first 30 rows
price_data.head(30)

,Open,High,Low,Close,Adj Close,Volume,Ativo,datetime,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,r_percent,MACD,MACD_EMA,Price_Rate_Of_Change
Date,,,,,,,,,,,,,,,,,,,
2005-01-03,94.617592,94.741875,92.973228,93.451241,53.707932,5538779,IBM,2005-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN
2005-01-04,93.441681,94.091782,92.275337,92.447418,53.131031,5973706,IBM,2005-01-04,-1.003822,1.003822,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.022522,-0.012512,NaN
2005-01-05,92.351814,93.527725,92.160614,92.256210,53.021126,5906448,IBM,2005-01-05,-0.191208,0.191208,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.034626,-0.021575,NaN
2005-01-06,92.294456,92.715103,91.826004,91.969406,52.856304,4771538,IBM,2005-01-06,-0.286804,0.286804,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.049638,-0.031082,NaN
2005-01-07,92.256210,92.543022,91.271507,91.567879,52.625526,6485932,IBM,2005-01-07,-0.401527,0.401527,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.072728,-0.043471,NaN
2005-01-10,91.567879,91.864243,91.051628,91.472275,52.570591,4837855,IBM,2005-01-10,-0.095604,0.095604,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.089329,-0.055901,NaN
2005-01-11,91.472275,91.577438,90.544930,90.822182,52.196987,4964734,IBM,2005-01-11,-0.650093,0.650093,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.127887,-0.074119,NaN
2005-01-12,90.822182,91.089867,89.923515,91.022942,52.312355,6096716,IBM,2005-01-12,0.200760,0.000000,0.200760,11.291135,NaN,NaN,NaN,NaN,-0.142138,-0.090465,NaN
2005-01-13,91.195030,91.969406,89.579353,90.296364,51.894787,5585012,IBM,2005-01-13,-0.726578,0.726578,0.000000,7.673164,NaN,NaN,NaN,NaN,-0.185891,-0.112509,NaN
2005-01-14,89.875717,90.105164,89.435944,89.961761,51.702469,5774757,IBM,2005-01-14,-0.334602,0.334602,0.000000,6.556781,NaN,NaN,NaN,NaN,-0.231459,-0.139161,-0.037340
2005-01-18,89.531548,91.147224,89.502869,90.726578,52.142033,8882737,IBM,2005-01-18,0.764816,0.000000,0.764816,32.469568,NaN,NaN,NaN,NaN,-0.220395,-0.156934,-0.018614
2005-01-19,90.774376,90.965584,88.843208,89.005737,51.153027,7690924,IBM,2005-01-19,-1.720840,1.720840,0.000000,18.878289,NaN,NaN,NaN,NaN,-0.303813,-0.188478,-0.035233
2005-01-20,88.537285,89.713196,88.527725,88.910133,51.098087,5971196,IBM,2005-01-20,-0.095604,0.095604,0.000000,18.384967,NaN,NaN,NaN,NaN,-0.367048,-0.226269,-0.033264
2005-01-21,88.910133,89.196938,88.173996,88.317398,50.757431,7324720,IBM,2005-01-21,-0.592735,0.592735,0.000000,15.489395,88.173996,94.741875,2.183385,-97.816615,-0.443966,-0.271811,-0.035498
2005-01-24,88.623329,88.766731,87.724663,87.753349,50.433262,6838016,IBM,2005-01-24,-0.564049,0.564049,0.000000,13.205705,87.724663,94.091782,0.450542,-99.549458,-0.529780,-0.325287,-0.040656
2005-01-25,87.934990,88.518166,87.906311,88.135757,50.653042,5303952,IBM,2005-01-25,0.382408,0.000000,0.382408,22.180961,87.724663,93.527725,7.084099,-92.915901,-0.565044,-0.374627,-0.029579
2005-01-26,88.240921,88.785851,87.896751,87.906311,50.521179,5598192,IBM,2005-01-26,-0.229446,0.229446,0.000000,20.699094,87.724663,92.715103,3.639924,-96.360076,-0.599125,-0.420561,-0.034240
2005-01-27,87.476097,88.164436,87.418739,87.934990,50.537670,4965257,IBM,2005-01-27,0.028679,0.000000,0.028679,21.455878,87.418739,92.543022,10.074592,-89.925408,-0.616062,-0.460378,-0.026151
2005-01-28,88.604210,89.474190,88.413002,88.804970,51.037647,6234788,IBM,2005-01-28,0.869980,0.000000,0.869980,41.122756,87.418739,91.969406,30.462139,-69.537861,-0.565776,-0.481766,-0.012859
2005-01-31,89.531548,89.818359,88.957932,89.311661,51.328842,4978855,IBM,2005-01-31,0.506691,0.000000,0.506691,49.603000,87.418739,91.969406,41.596573,-58.403427,-0.487164,-0.482858,-0.015595
2005-02-01,89.550667,89.866158,89.263863,89.732315,51.570618,3804720,IBM,2005-02-01,0.420654,0.000000,0.420654,55.713321,87.418739,91.969406,50.840368,-49.159632,-0.392756,-0.464670,0.008163
2005-02-02,89.655830,90.200768,89.512428,90.152962,51.812363,3762880,IBM,2005-02-02,0.420647,0.000000,0.420647,61.148426,87.418739,91.969406,60.083995,-39.916005,-0.286770,-0.428825,0.013978
2005-02-03,89.741875,89.808792,88.967499,89.426384,51.394802,4109420,IBM,2005-02-03,-0.726578,0.726578,0.000000,49.131188,87.418739,91.147224,53.846122,-46.153878,-0.250535,-0.392956,0.012557
2005-02-04,88.919693,90.573616,88.910133,90.353729,51.927761,3982750,IBM,2005-02-04,0.927345,0.000000,0.927345,60.549036,87.418739,91.147224,78.718027,-21.281973,-0.155682,-0.345276,0.029633
2005-02-07,90.200768,90.726578,90.181641,90.372849,51.938732,2968339,IBM,2005-02-07,0.019119,0.000000,0.019119,60.758571,87.418739,90.965584,83.288377,-16.711623,-0.078762,-0.291771,0.025382
2005-02-08,90.066925,90.478012,89.990440,89.990440,51.817612,3703991,IBM,2005-02-08,-0.382408,0.382408,0.000000,54.124294,87.418739,90.726578,77.745667,-22.254333,-0.044813,-0.242230,0.023709
2005-02-09,90.000000,90.659653,88.470360,88.623329,51.030418,5917327,IBM,2005-02-09,-1.367111,1.367111,0.000000,37.316477,87.418739,90.726578,36.416224,-63.583776,-0.114741,-0.216670,0.007828
2005-02-10,88.862335,89.005737,88.240921,88.680687,51.063454,5060966,IBM,2005-02-10,0.057358,0.000000,0.057358,38.244863,87.418739,90.726578,38.150220,-61.849780,-0.163827,-0.206081,-0.001400
2005-02-11,88.623329,89.837479,88.432121,89.196938,51.360714,4423848,IBM,2005-02-11,0.516251,0.000000,0.516251,46.477315,87.418739,90.726578,53.757107,-46.242893,-0.163006,-0.197453,-0.001285
2005-02-14,89.063095,89.885277,89.063095,89.455070,51.509357,3000765,IBM,2005-02-14,0.258133,0.000000,0.258133,50.299793,87.418739,90.726578,61.560781,-38.439219,-0.141725,-0.186293,-0.003090

In [53]:
def obv(group):

    # Grab the volume and close column.
    volume = group['Volume']
    change = group['Close'].diff()

    # intialize the previous OBV
    prev_obv = 0
    obv_values = []

    # calculate the On Balance Volume
    for i, j in zip(change, volume):

        if i > 0:
            current_obv = prev_obv + j
        elif i < 0:
            current_obv = prev_obv - j
        else:
            current_obv = prev_obv

        # OBV.append(current_OBV)
        prev_obv = current_obv
        obv_values.append(current_obv)
    
    # Return a panda series.
    return pd.Series(obv_values, index = group.index)
        

# apply the function to each group
obv_groups = price_data.groupby('Ativo').apply(obv)

In [54]:
price_data

,Open,High,Low,Close,Adj Close,Volume,Ativo,datetime,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,r_percent,MACD,MACD_EMA,Price_Rate_Of_Change
Date,,,,,,,,,,,,,,,,,,,
2005-01-03,94.617592,94.741875,92.973228,93.451241,53.707932,5538779,IBM,2005-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN
2005-01-04,93.441681,94.091782,92.275337,92.447418,53.131031,5973706,IBM,2005-01-04,-1.003822,1.003822,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.022522,-0.012512,NaN
2005-01-05,92.351814,93.527725,92.160614,92.256210,53.021126,5906448,IBM,2005-01-05,-0.191208,0.191208,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.034626,-0.021575,NaN
2005-01-06,92.294456,92.715103,91.826004,91.969406,52.856304,4771538,IBM,2005-01-06,-0.286804,0.286804,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.049638,-0.031082,NaN
2005-01-07,92.256210,92.543022,91.271507,91.567879,52.625526,6485932,IBM,2005-01-07,-0.401527,0.401527,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.072728,-0.043471,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-11,144.750000,145.050003,143.690002,144.460007,144.460007,6854200,JPM,2023-09-11,0.630005,0.000000,0.630005,31.782795,142.649994,149.639999,25.894297,-74.105703,-1.909254,-1.494445,-0.021008
2023-09-12,144.500000,147.320007,144.050003,146.339996,146.339996,8363200,JPM,2023-09-12,1.879990,0.000000,1.879990,49.228777,142.649994,149.410004,54.585756,-45.414244,-1.746639,-1.544884,-0.016268
2023-09-13,147.339996,147.699997,145.820007,146.410004,146.410004,8325900,JPM,2023-09-13,0.070007,0.000000,0.070007,49.780611,142.649994,149.410004,55.621366,-44.378634,-1.593744,-1.554656,-0.011812
2023-09-14,147.839996,149.899994,147.520004,149.250000,149.250000,10034900,JPM,2023-09-14,2.839996,0.000000,2.839996,66.714805,142.649994,149.899994,91.034567,-8.965433,-1.229240,-1.489573,0.019955
2023-09-15,148.919998,149.729996,148.309998,148.809998,148.809998,19824100,JPM,2023-09-15,-0.440002,0.440002,0.000000,62.921833,142.649994,149.899994,84.965568,-15.034432,-0.964752,-1.384608,0.013554

In [55]:
obv_groups = obv_groups.T

In [56]:
df_aux1 = obv_groups["IBM"].reset_index()
df_aux2 = obv_groups["JPM"].reset_index()

In [57]:
df_aux1 = df_aux1.drop(columns="Date")

In [58]:
df_aux2 = df_aux2.drop(columns="Date")

In [59]:
df_aux1.columns = ["On Balance Volume"]
df_aux2.columns = ["On Balance Volume"]

In [61]:
df_aux2

      On Balance Volume
0                     0
1             -11360900
2              -1590700
3               7525200
4              -2446000
...                 ...
4703        -2013351100
4704        -2004987900
4705        -1996662000
4706        -1986627100
4707        -2006451200

[4708 rows x 1 columns]

In [64]:
novo_indice = range(4708, 9416)
df_aux2["index"] = novo_indice
df_aux2 = df_aux2.set_index('index', inplace=False)

In [65]:
df_aux2

       On Balance Volume
index
4708                   0
4709           -11360900
4710            -1590700
4711             7525200
4712            -2446000
...                  ...
9411         -2013351100
9412         -2004987900
9413         -1996662000
9414         -1986627100
9415         -2006451200

[4708 rows x 1 columns]

In [66]:
result = df_aux1.append(df_aux2)

In [67]:
result

      On Balance Volume
0                     0
1              -5973706
2             -11880154
3             -16651692
4             -23137624
...                 ...
9411        -2013351100
9412        -2004987900
9413        -1996662000
9414        -1986627100
9415        -2006451200

[9416 rows x 1 columns]

In [69]:
# add to the data frame, but drop the old index, before adding it.
price_data['On Balance Volume'] = result.reset_index(level=0, drop=True).values




# display the data frame.
price_data.head(30)

,Open,High,Low,Close,Adj Close,Volume,Ativo,datetime,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,r_percent,MACD,MACD_EMA,Price_Rate_Of_Change,On Balance Volume
Date,,,,,,,,,,,,,,,,,,,,
2005-01-03,94.617592,94.741875,92.973228,93.451241,53.707932,5538779,IBM,2005-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0
2005-01-04,93.441681,94.091782,92.275337,92.447418,53.131031,5973706,IBM,2005-01-04,-1.003822,1.003822,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.022522,-0.012512,NaN,-5973706
2005-01-05,92.351814,93.527725,92.160614,92.256210,53.021126,5906448,IBM,2005-01-05,-0.191208,0.191208,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.034626,-0.021575,NaN,-11880154
2005-01-06,92.294456,92.715103,91.826004,91.969406,52.856304,4771538,IBM,2005-01-06,-0.286804,0.286804,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.049638,-0.031082,NaN,-16651692
2005-01-07,92.256210,92.543022,91.271507,91.567879,52.625526,6485932,IBM,2005-01-07,-0.401527,0.401527,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.072728,-0.043471,NaN,-23137624
2005-01-10,91.567879,91.864243,91.051628,91.472275,52.570591,4837855,IBM,2005-01-10,-0.095604,0.095604,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.089329,-0.055901,NaN,-27975479
2005-01-11,91.472275,91.577438,90.544930,90.822182,52.196987,4964734,IBM,2005-01-11,-0.650093,0.650093,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.127887,-0.074119,NaN,-32940213
2005-01-12,90.822182,91.089867,89.923515,91.022942,52.312355,6096716,IBM,2005-01-12,0.200760,0.000000,0.200760,11.291135,NaN,NaN,NaN,NaN,-0.142138,-0.090465,NaN,-26843497
2005-01-13,91.195030,91.969406,89.579353,90.296364,51.894787,5585012,IBM,2005-01-13,-0.726578,0.726578,0.000000,7.673164,NaN,NaN,NaN,NaN,-0.185891,-0.112509,NaN,-32428509
2005-01-14,89.875717,90.105164,89.435944,89.961761,51.702469,5774757,IBM,2005-01-14,-0.334602,0.334602,0.000000,6.556781,NaN,NaN,NaN,NaN,-0.231459,-0.139161,-0.037340,-38203266
2005-01-18,89.531548,91.147224,89.502869,90.726578,52.142033,8882737,IBM,2005-01-18,0.764816,0.000000,0.764816,32.469568,NaN,NaN,NaN,NaN,-0.220395,-0.156934,-0.018614,-29320529
2005-01-19,90.774376,90.965584,88.843208,89.005737,51.153027,7690924,IBM,2005-01-19,-1.720840,1.720840,0.000000,18.878289,NaN,NaN,NaN,NaN,-0.303813,-0.188478,-0.035233,-37011453
2005-01-20,88.537285,89.713196,88.527725,88.910133,51.098087,5971196,IBM,2005-01-20,-0.095604,0.095604,0.000000,18.384967,NaN,NaN,NaN,NaN,-0.367048,-0.226269,-0.033264,-42982649
2005-01-21,88.910133,89.196938,88.173996,88.317398,50.757431,7324720,IBM,2005-01-21,-0.592735,0.592735,0.000000,15.489395,88.173996,94.741875,2.183385,-97.816615,-0.443966,-0.271811,-0.035498,-50307369
2005-01-24,88.623329,88.766731,87.724663,87.753349,50.433262,6838016,IBM,2005-01-24,-0.564049,0.564049,0.000000,13.205705,87.724663,94.091782,0.450542,-99.549458,-0.529780,-0.325287,-0.040656,-57145385
2005-01-25,87.934990,88.518166,87.906311,88.135757,50.653042,5303952,IBM,2005-01-25,0.382408,0.000000,0.382408,22.180961,87.724663,93.527725,7.084099,-92.915901,-0.565044,-0.374627,-0.029579,-51841433
2005-01-26,88.240921,88.785851,87.896751,87.906311,50.521179,5598192,IBM,2005-01-26,-0.229446,0.229446,0.000000,20.699094,87.724663,92.715103,3.639924,-96.360076,-0.599125,-0.420561,-0.034240,-57439625
2005-01-27,87.476097,88.164436,87.418739,87.934990,50.537670,4965257,IBM,2005-01-27,0.028679,0.000000,0.028679,21.455878,87.418739,92.543022,10.074592,-89.925408,-0.616062,-0.460378,-0.026151,-52474368
2005-01-28,88.604210,89.474190,88.413002,88.804970,51.037647,6234788,IBM,2005-01-28,0.869980,0.000000,0.869980,41.122756,87.418739,91.969406,30.462139,-69.537861,-0.565776,-0.481766,-0.012859,-46239580
2005-01-31,89.531548,89.818359,88.957932,89.311661,51.328842,4978855,IBM,2005-01-31,0.506691,0.000000,0.506691,49.603000,87.418739,91.969406,41.596573,-58.403427,-0.487164,-0.482858,-0.015595,-41260725
2005-02-01,89.550667,89.866158,89.263863,89.732315,51.570618,3804720,IBM,2005-02-01,0.420654,0.000000,0.420654,55.713321,87.418739,91.969406,50.840368,-49.159632,-0.392756,-0.464670,0.008163,-37456005
2005-02-02,89.655830,90.200768,89.512428,90.152962,51.812363,3762880,IBM,2005-02-02,0.420647,0.000000,0.420647,61.148426,87.418739,91.969406,60.083995,-39.916005,-0.286770,-0.428825,0.013978,-33693125
2005-02-03,89.741875,89.808792,88.967499,89.426384,51.394802,4109420,IBM,2005-02-03,-0.726578,0.726578,0.000000,49.131188,87.418739,91.147224,53.846122,-46.153878,-0.250535,-0.392956,0.012557,-37802545
2005-02-04,88.919693,90.573616,88.910133,90.353729,51.927761,3982750,IBM,2005-02-04,0.927345,0.000000,0.927345,60.549036,87.418739,91.147224,78.718027,-21.281973,-0.155682,-0.345276,0.029633,-33819795
2005-02-07,90.200768,90.726578,90.181641,90.372849,51.938732,2968339,IBM,2005-02-07,0.019119,0.000000,0.019119,60.758571,87.418739,90.965584,83.288377,-16.711623,-0.078762,-0.291771,0.025382,-30851456
2005-02-08,90.066925,90.478012,89.990440,89.990440,51.817612,3703991,IBM,2005-02-08,-0.382408,0.382408,0.000000,54.124294,87.418739,90.726578,77.745667,-22.254333,-0.044813,-0.242230,0.023709,-34555447
2005-02-09,90.000000,90.659653,88.470360,88.623329,51.030418,5917327,IBM,2005-02-09,-1.367111,1.367111,0.000000,37.316477,87.418739,90.726578,36.416224,-63.583776,-0.114741,-0.216670,0.007828,-40472774
2005-02-10,88.862335,89.005737,88.240921,88.680687,51.063454,5060966,IBM,2005-02-10,0.057358,0.000000,0.057358,38.244863,87.418739,90.726578,38.150220,-61.849780,-0.163827,-0.206081,-0.001400,-35411808
2005-02-11,88.623329,89.837479,88.432121,89.196938,51.360714,4423848,IBM,2005-02-11,0.516251,0.000000,0.516251,46.477315,87.418739,90.726578,53.757107,-46.242893,-0.163006,-0.197453,-0.001285,-30987960
2005-02-14,89.063095,89.885277,89.063095,89.455070,51.509357,3000765,IBM,2005-02-14,0.258133,0.000000,0.258133,50.299793,87.418739,90.726578,61.560781,-38.439219,-0.141725,-0.186293,-0.003090,-27987195

In [ ]:
# Group by the `Symbol` column, then grab the `Close` column.
close_groups = price_data.groupby('Ativo')['Close']

# Apply the lambda function which will return -1.0 for down, 1.0 for up and 0.0 for no change.
close_groups = close_groups.transform(lambda x : np.sign(x.diff()))

# add the data to the main dataframe.
price_data['Prediction'] = close_groups

# for simplicity in later sections I'm going to make a change to our prediction column. To keep this as a binary classifier I'll change flat days and consider them up days.
price_data.loc[price_data['Prediction'] == 0.0] = 1.0

# print the head
price_data.head(50)

# OPTIONAL CODE: Dump the data frame to a CSV file to examine the data yourself.
# price_data.to_csv('final_metrics.csv')

,Open,High,Low,Close,Adj Close,Volume,Ativo,datetime,change_in_price,down_days,...,low_14,high_14,k_percent,r_percent,MACD,MACD_EMA,Price_Rate_Of_Change,On Balance Volume IBM,On Balance Volume JPM,Prediction
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-03,94.617592,94.741875,92.973228,93.451241,53.707890,5538779,IBM,2005-01-03 00:00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
2005-01-04,93.441681,94.091782,92.275337,92.447418,53.131027,5973706,IBM,2005-01-04 00:00:00,-1.003822,1.003822,...,NaN,NaN,NaN,NaN,-0.022522,-0.012512,NaN,NaN,NaN,-1.0
2005-01-05,92.351814,93.527725,92.160614,92.256210,53.021137,5906448,IBM,2005-01-05 00:00:00,-0.191208,0.191208,...,NaN,NaN,NaN,NaN,-0.034626,-0.021575,NaN,NaN,NaN,-1.0
2005-01-06,92.294456,92.715103,91.826004,91.969406,52.856304,4771538,IBM,2005-01-06 00:00:00,-0.286804,0.286804,...,NaN,NaN,NaN,NaN,-0.049638,-0.031082,NaN,NaN,NaN,-1.0
2005-01-07,92.256210,92.543022,91.271507,91.567879,52.625534,6485932,IBM,2005-01-07 00:00:00,-0.401527,0.401527,...,NaN,NaN,NaN,NaN,-0.072728,-0.043471,NaN,NaN,NaN,-1.0
2005-01-10,91.567879,91.864243,91.051628,91.472275,52.570591,4837855,IBM,2005-01-10 00:00:00,-0.095604,0.095604,...,NaN,NaN,NaN,NaN,-0.089329,-0.055901,NaN,NaN,NaN,-1.0
2005-01-11,91.472275,91.577438,90.544930,90.822182,52.196976,4964734,IBM,2005-01-11 00:00:00,-0.650093,0.650093,...,NaN,NaN,NaN,NaN,-0.127887,-0.074119,NaN,NaN,NaN,-1.0
2005-01-12,90.822182,91.089867,89.923515,91.022942,52.312340,6096716,IBM,2005-01-12 00:00:00,0.200760,0.000000,...,NaN,NaN,NaN,NaN,-0.142138,-0.090465,NaN,NaN,NaN,1.0
2005-01-13,91.195030,91.969406,89.579353,90.296364,51.894802,5585012,IBM,2005-01-13 00:00:00,-0.726578,0.726578,...,NaN,NaN,NaN,NaN,-0.185891,-0.112509,NaN,NaN,NaN,-1.0
2005-01-14,89.875717,90.105164,89.435944,89.961761,51.702461,5774757,IBM,2005-01-14 00:00:00,-0.334602,0.334602,...,NaN,NaN,NaN,NaN,-0.231459,-0.139161,-0.037340,NaN,NaN,-1.0
2005-01-18,89.531548,91.147224,89.502869,90.726578,52.142025,8882737,IBM,2005-01-18 00:00:00,0.764816,0.000000,...,NaN,NaN,NaN,NaN,-0.220395,-0.156934,-0.018614,NaN,NaN,1.0
2005-01-19,90.774376,90.965584,88.843208,89.005737,51.153015,7690924,IBM,2005-01-19 00:00:00,-1.720840,1.720840,...,NaN,NaN,NaN,NaN,-0.303813,-0.188478,-0.035233,NaN,NaN,-1.0
2005-01-20,88.537285,89.713196,88.527725,88.910133,51.098099,5971196,IBM,2005-01-20 00:00:00,-0.095604,0.095604,...,NaN,NaN,NaN,NaN,-0.367048,-0.226269,-0.033264,NaN,NaN,-1.0
2005-01-21,88.910133,89.196938,88.173996,88.317398,50.757404,7324720,IBM,2005-01-21 00:00:00,-0.592735,0.592735,...,88.173996,94.741875,2.183385,-97.816615,-0.443966,-0.271811,-0.035498,NaN,NaN,-1.0
2005-01-24,88.623329,88.766731,87.724663,87.753349,50.433292,6838016,IBM,2005-01-24 00:00:00,-0.564049,0.564049,...,87.724663,94.091782,0.450542,-99.549458,-0.529780,-0.325287,-0.040656,NaN,NaN,-1.0
2005-01-25,87.934990,88.518166,87.906311,88.135757,50.653042,5303952,IBM,2005-01-25 00:00:00,0.382408,0.000000,...,87.724663,93.527725,7.084099,-92.915901,-0.565044,-0.374627,-0.029579,NaN,NaN,1.0
2005-01-26,88.240921,88.785851,87.896751,87.906311,50.521175,5598192,IBM,2005-01-26 00:00:00,-0.229446,0.229446,...,87.724663,92.715103,3.639924,-96.360076,-0.599125,-0.420561,-0.034240,NaN,NaN,-1.0
2005-01-27,87.476097,88.164436,87.418739,87.934990,50.537655,4965257,IBM,2005-01-27 00:00:00,0.028679,0.000000,...,87.418739,92.543022,10.074592,-89.925408,-0.616062,-0.460378,-0.026151,NaN,NaN,1.0
2005-01-28,88.604210,89.474190,88.413002,88.804970,51.037643,6234788,IBM,2005-01-28 00:00:00,0.869980,0.000000,...,87.418739,91.969406,30.462139,-69.537861,-0.565776,-0.481766,-0.012859,NaN,NaN,1.0
2005-01-31,89.531548,89.818359,88.957932,89.311661,51.328838,4978855,IBM,2005-01-31 00:00:00,0.506691,0.000000,...,87.418739,91.969406,41.596573,-58.403427,-0.487164,-0.482858,-0.015595,NaN,NaN,1.0
2005-02-01,89.550667,89.866158,89.263863,89.732315,51.570614,3804720,IBM,2005-02-01 00:00:00,0.420654,0.000000,...,87.418739,91.969406,50.840368,-49.159632,-0.392756,-0.464670,0.008163,NaN,NaN,1.0
2005-02-02,89.655830,90.200768,89.512428,90.152962,51.812378,3762880,IBM,2005-02-02 00:00:00,0.420647,0.000000,...,87.418739,91.969406,60.083995,-39.916005,-0.286770,-0.428825,0.013978,NaN,NaN,1.0
2005-02-03,89.741875,89.808792,88.967499,89.426384,51.394794,4109420,IBM,2005-02-03 00:00:00,-0.726578,0.726578,...,87.418739,91.147224,53.846122,-46.153878,-0.250535,-0.392956,0.012557,NaN,NaN,-1.0
2005-02-04,88.919693,90.573616,88.910133,90.353729,51.927757,3982750,IBM,2005-02-04 00:00:00,0.927345,0.000000,...,87.418739,91.147224,78.718027,-21.281973,-0.155682,-0.345276,0.029633,NaN,NaN,1.0
2005-02-07,90.200768,90.726578,90.181641,90.372849,51.938721,2968339,IBM,2005-02-07 00:00:00,0.019119,0.000000,...,87.418739,90.965584,83.288377,-16.711623,-0.078762,-0.291771,0.025382,NaN,NaN,1.0
2005-02-08,90.066925,90.478012,89.990440,89.990440,51.817650,3703991,IBM,2005-02-08 00:00:00,-0.382408,0.382408,...,87.418739,90.726578,77.745667,-22.254333,-0.044813,-0.242230,0.023709,NaN,NaN,-1.0
2005-02-09,90.000000,90.659653,88.470360,88.623329,51.030422,5917327,IBM,2005-02-09 00:00:00,-1.367111,1.367111,...,87.418739,90.726578,36.416224,-63.583776,-0.114741,-0.216670,0.007828,NaN,NaN,-1.0
2005-02-10,88.862335,89.005737,88.240921,88.680687,51.063450,5060966,IBM,2005-02-10 00:00:00,0.057358,0.000000,...,87.418739,90.726578,38.150220,-61.849780,-0.163827,-0.206081,-0.001400,NaN,NaN,1.0
2005-02-11,88.623329,89.837479,88.432121,89.196938,51.360718,4423848,IBM,2005-02-11 00:00:00,0.516251,0.000000,...,87.418739,90.726578,53.757107,-46.242893,-0.163006,-0.197453,-0.001285,NaN,NaN,1.0
2005-02-14,89.063095,89.885277,89.063095,89.455070,51.509357,3000765,IBM,2005-02-14 00:00:00,0.258133,0.000000,...,87.418739,90.726578,61.560781,-38.439219,-0.141725,-0.186293,-0.003090,NaN,NaN,1.0
2005-02-15,89.388145,90.506691,89.369026,90.181641,51.927723,4338808,IBM,2005-02-15 00:00:00,0.726570,0.000000,...,87.418739,90.726578,83.525884,-16.474116,-0.070323,-0.163076,0.000318,NaN,NaN,1.0
2005-02-16,90.086044,90.793503,90.057358,90.458893,52.087349,4671959,IBM,2005-02-16 00:00:00,0.277252,0.000000,...,88.240921,90.793503,86.891312,-13.108688,0.006690,-0.129096,0.011546,NaN,NaN,1.0
2005-02-17,90.344170,90.592735,89.617592,89.627151,51.608452,4449893,IBM,2005-02-17 00:00:00,-0.831741,0.831741,...,88.240921,90.793503,54.306995,-45.693005,0.005215,-0.102217,-0.008041,NaN,NaN,-1.0
2005-02-18,89.627151,90.105164,88.814529,89.168259,51.344200,4461504,IBM,2005-02-18 00:00:00,-0.458893,0.458893,...,88.240921,90.793503,36.329400,-63.670600,-0.030169,-0.087800,-0.013329,NaN,NaN,-1.0
2005-02-22,88.594643,89.388145,88.173996,88.260040,50.821247,5047055,IBM,2005-02-22 00:00:00,-0.908218,0.908218,...,88.173996,90.793503,3.284752,-96.715248,-0.125468,-0.095337,-0.019229,NaN,NaN,-1.0
2005-02-23,88.231361,88.374763,87.523903,88.049713,50.700130,5881449,IBM,2005-02-23 00:00:00,-0.210327,0.210327,...,87.523903,90.793503,16.081792,-83.918208,-0.214385,-0.119154,-0.006473,NaN,NaN,-1.0
2005-02-24,87.934990,88.996178,87.810707,88.565964,50.997402,4344979,IBM,2005-02-24 00:00:00,0.516251,0.000000,...,87.523903,90.793503,31.871204,-68.128796,-0.242491,-0.143828,-0.001294,NaN,NaN,1.0
2005-02-25,88.288719,88.718925,88.231361,88.718925,51.085445,4266111,IBM,2005-02-25 00:00:00,0.152962,0.000000,...,87.523903,90.793503,36.549505,-63.450495,-0.250097,-0.165086,-0.005359,NaN,NaN,1.0
2005-02-28,88.460800,88.680687,88.346077,88.508606,50.964386,5177491,IBM,2005-02-28 00:00:00,-0.210320,0.210320,...,87.523903,90.793503,30.116928,-69.883072,-0.269187,-0.185910,-0.010580,NaN,NaN,-1.0
2005-03-01,88.565964,89.321220,88.518166,89.196938,51.360718,3995615,IBM,2005-03-01 00:00:00,0.688332,0.000000,...,87.523903,90.793503,51.169400,-48.830600,-0.228456,-0.194420,-0.010919,NaN,NaN,1.0
2005-03-02,88.671127,89.608032,88.671127,88.833649,51.151531,4672900,IBM,2005-03-02 00:00:00,-0.363289,0.363289,...,87.523903,90.793503,40.058289,-59.941711,-0.221794,-0.199895,-0.017967,NaN,NaN,-1.0
2005-03-03,89.053535,89.110901,88.145317,88.346077,50.870770,4223539,IBM,2005-03-03 00:00:00,-0.487572,0.487572,...,87.523903,90.793503,25.146015,-74.853985,-0.251513,-0.210220,-0.014293,NaN,NaN,-1.0
2005-03-04,88.852776,89.082214,88.298279,88.307838,50.848759,4972684,IBM,2005-03-04 00:00:00,-0.038239,0.038239,...,87.523903,90.793503,23.976498,-76.023502,-0.274846,-0.223146,-0.009649,NaN,NaN,-1.0
2005-03-07,88.288719,88.441681,87.562141,87.571701,50.424873,7371057,IBM,2005-03-07 00:00:00,-0.736137,0.736137,...,87.523903,90.793503,1.461896,-98.538104,-0.346853,-0.247889,-0.007799,NaN,NaN,-1.0
2005-03-08,87.667305,88.489487,87.667305,88.078392,50.716660,5321839,IBM,2005-03-08 00:00:00,0.506691,0.000000,...,87.523903,90.793503,16.958929,-83.041071,-0.360018,-0.270315,0.000326,NaN,NaN,1.0
2005-03-09,87.973228,88.910133,87.963669,88.288719,50.837761,4718715,IBM,2005-03-09 00:00:00,0.210327,0.000000,...,87.523903,90.592735,24.922061,-75.077939,-0.349879,-0.286229,-0.003130,NaN,NaN,1.0
2005-03-10,88.288719,88.718925,88.040154,88.346077,50.870770,3579935,IBM,2005-03-10 00:00:00,0.057358,0.000000,...,87.523903,90.105164,31.851648,-68.148352,-0.333473,-0.295678,-0.004203,NaN,NaN,1.0
2005-03-11,88.193115,88.346077,87.189293,87.485657,50.375340,4701038,IBM,2005-03-11 00:00:00,-0.860420,0.860420,...,87.189293,89.608032,12.252822,-87.747178,-0.383866,-0.313316,-0.011558,NaN,NaN,-1.0
2005-03-14,87.476097,87.992355,87.476097,87.858505,50.590023,4116533,IBM,2005-03-14 00:00:00,0.372849,0.000000,...,87.189293,89.608032,27.667816,-72.332184,-0.389836,-0.328620,-0.015005,NaN,NaN,1.0
2005-03-15,87.954109,88.212234,87.189293,87.361374,50.303768,3831603,IBM,2005-03-15 00:00:00,-0.497131,0.497131,...,87.189293,89.608032,7.114491,-92.885509,-0.428927,-0.348682,-0.016573,NaN,NaN,-1.0

In [ ]:
for

SyntaxError: invalid syntax (3193057967.py, line 1)

In [ ]:
# We need to remove all rows that have an NaN value.
print('Before NaN Drop we have {} rows and {} columns'.format(price_data.shape[0], price_data.shape[1]))

# Any row that has a `NaN` value will be dropped.
price_data = price_data.dropna()

# Display how much we have left now.
print('After NaN Drop we have {} rows and {} columns'.format(price_data.shape[0], price_data.shape[1]))

# Print the head.
price_data.head()

Before NaN Drop we have 9414 rows and 22 columns
After NaN Drop we have 40 rows and 22 columns

,Open,High,Low,Close,Adj Close,Volume,Ativo,datetime,change_in_price,down_days,...,low_14,high_14,k_percent,r_percent,MACD,MACD_EMA,Price_Rate_Of_Change,On Balance Volume IBM,On Balance Volume JPM,Prediction
Date,,,,,,,,,,,,,,,,,,,,,
2005-08-08,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2005-08-17,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2005-11-25,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2006-10-11,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2006-12-20,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
price_data

,Open,High,Low,Close,Adj Close,Volume,Ativo,datetime,change_in_price,down_days,...,low_14,high_14,k_percent,r_percent,MACD,MACD_EMA,Price_Rate_Of_Change,On Balance Volume IBM,On Balance Volume JPM,Prediction
Date,,,,,,,,,,,,,,,,,,,,,
2005-08-08,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2005-08-17,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2005-11-25,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2006-10-11,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2006-12-20,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2008-06-24,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2010-04-01,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2010-07-15,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2014-11-17,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2015-03-19,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-03-04,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2017-08-11,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2017-09-28,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2019-06-27,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2020-12-17,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2005-03-16,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2005-03-24,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2005-12-06,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2005-12-20,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2007-04-04,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2009-10-15,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2010-03-25,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2010-10-22,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2011-10-11,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2012-01-24,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2012-08-01,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2013-08-16,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2014-01-27,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2014-06-13,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2014-12-24,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2015-08-03,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2015-10-08,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-05-17,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2016-08-31,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2017-07-20,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-04-17,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-05-01,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2018-08-17,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2020-02-12,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2020-02-20,1.0,1.0,1.0,1.0,1.0,1,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0